{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_ggbrenderer/ggbcontainer

    This template is used to inject a GGB applet into the DOM.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-ggbparams

    Context variables required for this template:
    * appletid - A string to identify the applet afterwards
    * deployggburl - A string with the URL the deployggb.js file should be loaded from
    * ggbparams - JSON encoded string including parameters for the GGB applet

    Example context (json):
    {
        "appletid": "63721e21225fd",
        "deployggburl": "https://www.geogebra.org/apps/deployggb.js",
        "ggbparams":
            "{\"appName\":\"classic\",\"width\":600,\"height\":500,\"showToolBar\":true,\"showAlgebraInput\":true,\"showMenuBar\":true}"
    }
}}
<div id="local_ggbrenderer_container_{{appletid}}"
     class="local_ggbrenderer_ggbcontainer local_ggbrenderer_ggbcontainer_{{appletid}}"
     data-ggbparams="{{ggbparams}}"
>
</div>
{{#js}}
    require(['local_ggbrenderer/ggbrenderer', "{{{deployggburl}}}"], function(ggbrenderer, DeployObject) {
        ggbrenderer.init(DeployObject, "{{appletid}}");
    });
{{/js}}
